<footer class="u-align-center u-clearfix u-container-align-center u-footer u-palette-5-dark-2 u-footer" id="footer">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <h3 class="u-headline u-text u-text-1">
      © 2025 Anaglobine. Tous droits réservés.<br>Confidentialité | Conditions d’utilisation |
      Contact |
      Aide&nbsp;&nbsp;

    </h3>
  </div>
</footer>
<style>
  /* Assurer que le body et html prennent toute la hauteur de la page */
  html,
  body {
    height: 100%;
  }
  body{
    display: flex;
    flex-direction: column;
  }
  /* Style du footer */
  #footer {
    background-color: #384551;
    /* Ajuste la couleur de fond si nécessaire */
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 14px;
  }
  /* S'assurer que le lien dans le footer est bien visible */
  #footer a {
    color: white;
    text-decoration: none;
  }

  #footer a:hover {
    text-decoration: underline;
  }
</style>