 .u-section-1 {
   background-position: 50% 50%;
   background-repeat: no-repeat;
   background-image: linear-gradient(to bottom, #ffffff, #e9f2fa);
   background-size: cover;
 }

 .u-section-1 .u-sheet-1 {
   min-height: 1431px;
 }

 .u-section-1 .u-text-1 {
   font-weight: 700;
   --animation-custom_in-translate_x: -300px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
   margin: 59px 14px 0;
 }

 .u-section-1 .u-image-1 {
   width: 634px;
   height: 426px;
   --radius: 20px;
   object-position: 50% 45.85%;
   margin: 73px auto 0 0;
 }

 .u-section-1 .u-btn-1 {
   background-image: none;
   font-size: 1.25rem;
   margin: -395px 322px 0 auto;
   padding: 0;
 }

 .u-section-1 .u-icon-1 {
   width: 29px;
   height: 29px;
   margin: -29px 458px 0 auto;
   padding: 0;
 }

 .u-section-1 .u-text-2 {
   font-size: 1.25rem;
   margin: 47px -100px 0 auto;
 }

 .u-section-1 .u-icon-2 {
   width: 33px;
   height: 33px;
   margin: -35px 456px 0 auto;
   padding: 0;
 }

 .u-section-1 .u-icon-3 {
   width: 28px;
   height: 28px;
   margin: 78px 458px 0 auto;
   padding: 0;
 }

 .u-section-1 .u-text-3 {
   font-size: 1.25rem;
   margin: -28px 146px 0 auto;
 }

 .u-section-1 .u-text-4 {
   font-size: 1.25rem;
   font-weight: 700;
   margin: 1px -25px 0 auto;
 }

 .u-section-1 .u-text-5 {
   font-size: 2.25rem;
   font-weight: 700;
   margin: 107px auto 0 0;
 }

 .u-section-1 .u-table-1 {
   margin-top: 60px;
   margin-bottom: 0;
 }

 .u-section-1 .u-table-header-1 {
   font-weight: 700;
   background-image: none;
 }

 .u-section-1 .u-text-6 {
   font-weight: 700;
   font-size: 1.5rem;
   margin: 81px auto 0;
 }

 .u-section-1 .u-btn-2 {
   --radius: 6px;
   font-weight: 700;
   font-size: 0.9375rem;
   background-image: none;
   margin: 35px auto 60px;
   padding: 16px 48px 17px 47px;
 }

 @media (max-width: 1199px) {
   .u-section-1 .u-text-1 {
     margin-left: 111px;
     margin-right: 111px;
   }

   .u-section-1 .u-image-1 {
     inset: auto;
     margin-top: 39px;
     width: 500px;
   }

   .u-section-1 .u-btn-1 {
     margin-top: -394px;
     margin-right: 268px;
   }

   .u-section-1 .u-icon-1 {
     margin-right: 400px;
   }

   .u-section-1 .u-text-2 {
     margin-top: 46px;
     margin-right: -40px;
     font-size: medium;
   }

   .u-section-1 .u-icon-2 {
     margin-top: -36px;
     margin-right: 397px;
   }

   .u-section-1 .u-icon-3 {
     margin-top: 47px;
     margin-right: 397px;
   }

   .u-section-1 .u-text-5 {
     margin-top: 132px;
   }

   .u-section-1 .u-text-3 {
     font-size: 1.25rem;
     margin: -28px 94px 0 auto;
   }

   .u-section-1 .u-text-4 {
     font-size: 1.25rem;
     font-weight: 700;
     margin: 20px -72px 0 auto;
   }
 }

 @media (max-width: 991px) {
   .u-section-1 .u-image-1 {
     margin-top: 79px;
     width: 400px;
   }

   .u-section-1 .u-btn-1 {
     margin-top: -391px;
     margin-right: 100px;
   }

   .u-section-1 .u-icon-1 {
     margin-top: -30px;
     margin-right: 269px;
   }

   .u-section-1 .u-text-2 {
     margin-top: 66px;
     margin-right: -114px;
   }

   .u-section-1 .u-icon-2 {
     margin-right: 268px;
     margin-top: -57px;
   }

   .u-section-1 .u-icon-3 {
     margin-right: 274px;
   }

   .u-section-1 .u-text-5 {
     margin-top: 77px;
   }

   .u-section-1 .u-text-3 {
     font-size: 1.25rem;
     margin: -28px -35px 0 auto;
   }

   .u-section-1 .u-text-4 {
     font-size: medium;
     font-weight: 700;
     margin: 20px -93px 0 auto;
   }
 }

 @media (max-width: 767px) {
   .u-section-1 .u-sheet-1 {
     min-height: 1368px;
   }

   .u-section-1 .u-image-1 {
     width: 540px;
     height: 363px;
   }

   .u-section-1 .u-btn-1 {
     margin-top: -284px;
   }

   .u-section-1 .u-icon-1 {
     margin-top: -25px;
     margin-right: 218px;
   }

   .u-section-1 .u-text-2 {
     font-size: 1.1111111111111112rem;
     margin-top: 26px;
   }

   .u-section-1 .u-icon-2 {
     margin-top: -62px;
     margin-right: 216px;
   }

   .u-section-1 .u-icon-3 {
     margin-top: 53px;
     margin-right: 218px;
   }

   .u-section-1 .u-text-3 {
     font-size: 1.1111111111111112rem;
     margin-top: -3px;
   }

   .u-section-1 .u-text-4 {
     font-size: 1.1111111111111112rem;
     margin-top: 9px;
   }

   .u-section-1 .u-table-1 {
     margin-top: 78px;
   }

   .u-section-1 .u-btn-2 {
     margin-bottom: -1px;
   }
 }

 @media (max-width: 575px) {
   .u-section-1 .u-sheet-1 {
     min-height: 1234px;
   }

   .u-section-1 .u-image-1 {
     width: 340px;
     height: 229px;
   }

   .u-section-1 .u-btn-1 {
     margin-top: -150px;
   }

   .u-section-1 .u-icon-1 {
     margin-top: 132px;
     margin-right: 137px;
   }

   .u-section-1 .u-text-2 {
     margin-top: -131px;
   }

   .u-section-1 .u-icon-2 {
     margin-top: -91px;
     margin-right: 136px;
   }

   .u-section-1 .u-icon-3 {
     margin-top: 109px;
     margin-right: 137px;
   }

   .u-section-1 .u-text-3 {
     margin-top: -31px;
     margin-right: 102px;
   }

   .u-section-1 .u-btn-2 {
     margin-bottom: -435px;
   }
 }