 .u-section-1 {
   background-position: 50% 50%;
   background-repeat: no-repeat;
   background-image: linear-gradient(to bottom, #ffffff, #e9f2fa);
   background-size: cover;
 }

 .u-section-1 .u-sheet-1 {
   min-height: 1411px;
 }

 .u-section-1 .u-text-1 {
   font-weight: 700;
   --animation-custom_in-translate_x: -300px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
   width: 845px;
   margin: 52px auto 0;
 }

 .u-section-1 .u-image-1 {
   width: 634px;
   height: 426px;
   --radius: 20px;
   object-position: 50% 45.85%;
   margin: 65px auto 0 0;
 }

 .u-section-1 .u-icon-1 {
   width: 29px;
   height: 29px;
   margin: -382px 458px 0 auto;
   padding: 0;
 }

 .u-section-1 .u-btn-1 {
   background-image: none;
   font-size: 1.25rem;
   margin: -28px 326px 0 auto;
   padding: 0;
 }

 .u-section-1 .u-text-2 {
   font-size: 1.25rem;
   margin: 47px -80px 0 auto;
 }

 .u-section-1 .u-icon-2 {
   width: 33px;
   height: 33px;
   margin: -64px 456px 0 auto;
   padding: 0;
 }

 .u-section-1 .u-text-3 {
   font-size: 1.25rem;
   margin: 67px 133px 0 auto;
 }

 .u-section-1 .u-icon-3 {
   width: 28px;
   height: 28px;
   margin: -53px 458px 0 auto;
   padding: 0;
 }

 .u-section-1 .u-text-4 {
   font-size: 1.25rem;
   font-weight: 700;
   margin: 73px 68px 0 auto;
 }

 .u-section-1 .u-text-5 {
   font-size: 2.25rem;
   font-weight: 700;
   margin: 77px auto 0 0;
 }

 .u-section-1 .u-table-1 {
   margin-top: 54px;
   margin-bottom: 0;
 }

 .u-section-1 .u-table-header-1 {
   font-weight: 700;
   background-image: none;
 }

 .u-section-1 .u-text-6 {
   font-weight: 700;
   font-size: 1.5rem;
   margin: 80px auto 0;
 }

 .u-section-1 .u-btn-2 {
   --radius: 6px;
   font-weight: 700;
   font-size: 0.9375rem;
   background-image: none;
   margin: 35px auto 60px;
   padding: 16px 48px 17px 47px;
 }

 @media (max-width: 1199px) {
   .u-section-1 .u-text-1 {
     margin-left: 111px;
     margin-right: 111px;
   }

   .u-section-1 .u-image-1 {
     inset: auto;
     margin-top: 39px;
     width: 500px;
   }

   .u-section-1 .u-icon-1 {
     margin-top: -395px;
     margin-right: 378px;
   }

   .u-section-1 .u-btn-1 {
     margin-right: 241px;
   }

   .u-section-1 .u-text-2 {
     margin-top: 59px;
     margin-right: -63px;
     font-size: medium;
   }

   .u-section-1 .u-icon-2 {
     margin-top: -30px;
     margin-right: 376px;
   }

   .u-section-1 .u-text-3 {
     margin-top: 44px;
     margin-right: 38px;
   }

   .u-section-1 .u-icon-3 {
     margin-right: 378px;
     margin-top: -60px
   }

   .u-section-1 .u-text-5 {
     margin-top: 132px;
   }

   .u-section-1 .u-text-4 {
     font-size: 1.25rem;
     font-weight: 700;
     margin: 73px 30px 0 auto;
   }
 }

 @media (max-width: 991px) {
   .u-section-1 .u-text-1 {
     width: 720px;
   }

   .u-section-1 .u-image-1 {
     margin-top: 79px;
     width: 400px;
   }

   .u-section-1 .u-icon-1 {
     margin-top: -376px;
     margin-right: 273px;
   }

   .u-section-1 .u-btn-1 {
     margin-top: -24px;
     margin-right: 135px;
   }

   .u-section-1 .u-text-2 {
     margin-top: 78px;
     margin-right: -124px;
   }

   .u-section-1 .u-icon-2 {
     margin-right: 275px;
     margin-top: -67px;
   }

   .u-section-1 .u-icon-3 {
     margin-right: 276px;
   }

   .u-section-1 .u-text-5 {
     margin-top: 77px;
   }

   .u-section-1 .u-text-3 {
     margin-top: 67px;
     margin-right: -68px;
   }

   .u-section-1 .u-text-4 {
     font-size: 1.25rem;
     font-weight: 700;
     margin: 73px -79px 0 auto;
   }
 }

 @media (max-width: 767px) {
   .u-section-1 .u-sheet-1 {
     min-height: 1348px;
   }

   .u-section-1 .u-text-1 {
     width: 540px;
   }

   .u-section-1 .u-image-1 {
     width: 540px;
     height: 363px;
   }

   .u-section-1 .u-icon-1 {
     margin-top: -281px;
     margin-right: 218px;
   }

   .u-section-1 .u-btn-1 {
     margin-top: -32px;
   }

   .u-section-1 .u-text-2 {
     font-size: 1.1111111111111112rem;
     margin-top: 30px;
   }

   .u-section-1 .u-icon-2 {
     margin-top: -62px;
     margin-right: 216px;
   }

   .u-section-1 .u-text-3 {
     font-size: 1.1111111111111112rem;
     margin-top: 78px;
   }

   .u-section-1 .u-icon-3 {
     margin-top: -82px;
     margin-right: 218px;
   }

   .u-section-1 .u-text-4 {
     font-size: 1.1111111111111112rem;
     margin-top: 63px;
   }

   .u-section-1 .u-table-1 {
     margin-top: 78px;
   }

   .u-section-1 .u-btn-2 {
     margin-bottom: -1px;
   }
 }

 @media (max-width: 575px) {
   .u-section-1 .u-sheet-1 {
     min-height: 1214px;
   }

   .u-section-1 .u-text-1 {
     width: 340px;
   }

   .u-section-1 .u-image-1 {
     width: 340px;
     height: 229px;
   }

   .u-section-1 .u-icon-1 {
     margin-top: 10px;
     margin-right: 137px;
   }

   .u-section-1 .u-btn-1 {
     margin-top: -189px;
   }

   .u-section-1 .u-text-2 {
     margin-right: 88px;
   }

   .u-section-1 .u-icon-2 {
     margin-top: -91px;
     margin-right: 136px;
   }

   .u-section-1 .u-text-3 {
     margin-top: 106px;
     margin-right: 84px;
   }

   .u-section-1 .u-icon-3 {
     margin-right: 137px;
   }

   .u-section-1 .u-btn-2 {
     margin-bottom: -339px;
   }
 }