* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }
  
  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  header {
    height: 60px;
    background-color: #1e90ff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  header .logo {
    font-weight: 600;
    font-size: 1.2rem;
  }
  
  .container {
    display: flex;
    flex: 1;
  }
  
  .sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 20px;
    border-right: 1px solid #ddd;
  }
  
  .sidebar h3 {
    margin-bottom: 10px;
    font-size: 1rem;
  }
  
  .sidebar ul {
    list-style: none;
  }
  
  .sidebar ul li {
    margin: 10px 0;
    cursor: pointer;
  }
  
  .main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ccc;
  }
  
  th {
    background-color: #e9e9e9;
  }
  
  .btn-reserver {
    padding: 6px 12px;
    background-color: #478ac9 ;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-reserver:hover {
    background-color: #adcce9;
  }
  